@import "tailwindcss";

@plugin "daisyui" {
  themes:
    corporate --default,
    dim --prefersdark;
}
/*daisy ui customization*/
@utility btn {
  @apply rounded-full;
}
@utility footer-title {
  @apply text-primary text-2xl font-bold;
}
/*Global Styles*/
body {
  @apply bg-base-100 text-base-content;
}
section,
.footer-max {
  @apply max-w-[1400px] mx-auto;
}
.full-section {
  @apply w-full;
}

/*Custom styles*/
.page-route li {
  @apply text-xl;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}
