@import "tailwindcss";

@plugin "daisyui" {
  themes:
    corporate --default,
    dim --prefersdark;
}
@plugin "daisyui/theme" {
  name: "corporate";
  color-scheme: "light";
  --color-base-300: oklch(100% 0.003 247.858);
}
/*daisy ui customization*/
@utility btn {
  @apply rounded-full;
}
@utility footer-title {
  @apply text-primary text-2xl font-bold;
}
@utility card {
  @apply rounded-lg shadow-lg border border-base-200;
}
/*Global Styles*/
body {
  @apply bg-base-300 text-base-content;
}
section,
.footer-max {
  @apply max-w-[1280px] mx-auto px-5 md:px-0 py-20;
}
.full-section {
  @apply max-w-full pt-0;
}

/*Custom styles*/
.page-route li a {
  @apply text-xl;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &.active:after {
    transform: scaleX(1);
  }
}
/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary) !important;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--color-primary-light); /* blue-800 on hover */
}

/* Optional: Make them larger */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px; /* default is 20px */
}
/* Pagination bullets (inactive) */
.swiper-pagination-bullet {
  background-color: var(--color-primary) !important; /* gray-300 */
  opacity: 1; /* make sure it's visible */
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important; /* blue-600 */
  transform: scale(1.2);
  transition: all 0.3s ease;
}
